<mat-card>
  <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field appearance="fill">
      <input required matInput minlength="1" pattern="[0-9]+" placeholder="Insira o ID do Livro" type="text" name="id" ngModel #id="ngModel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input required matInput minlength="4" placeholder="Insira o Título do Livro" type="text" name="titulo" ngModel #titulo="ngModel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input required matInput minlength="3" placeholder="Insira o Autor do Livro" type="text" name="autor" ngModel #autor="ngModel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input required matInput minlength="1" pattern="[0-9]+" placeholder="Insira o Nº de Páginas do Livro" type="text" name="numero_paginas" ngModel #numero_paginas="ngModel" />
    </mat-form-field>
    <button color="accent" mat-raised-button >
      Cadastrar Livro
    </button>
  </form>
</mat-card>
